/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v23-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v47-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v47-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1278px;
  margin: 0 auto;
}

/* header: кнопка начать учиться, логотип, телефон */
header {
  padding: 31px 0;
  background: #66d1ff;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 7px 41px;
  min-width: 276px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  border-radius: 4px;
  color: #060d10;
  background: #fff;
  border: 1px solid #fff;
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.25));
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: #060d10;
}

.tele {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #060d10;
}

/* location локация и заголовок */
.location {
  color: #fff;
  text-align: center;
  background-image: url('../images/location.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.location-fade {
  padding: 240px 0 260px 0;
  background-color: rgba(6, 13, 16, .25);
}

.subtitle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject {
  margin: 0;
  padding-bottom: 60px;
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #060D10;
}

.subtitle {
  margin: 0;
  width: 1060px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
}

/* product список */
.product {
  background-color: rgba(102, 209, 255, .1);
}

.promo {
  padding: 170px 0 100px;
  margin: 0;
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  color: #060d10;
  text-align: center;
  text-transform: uppercase;

}

.list {
  padding-bottom: 100px;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  flex-basis: calc(33.33% - 15px);
  list-style: none;
}

.title-services {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  color: #060d10;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  padding: 25px 0 70px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: #060d10;
  opacity: 0.8;
  text-transform: none;
}

/* start кнопка начала и фото рекламы */
.start {
  background: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
}

.start-enter {
  padding: 170px 0 80px;
  margin: 0px;
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  color: #060d10;
  text-align: center;
  text-transform: uppercase;
}

.btn1-wrap {
  display: flex;
  justify-content: center;
}

.btn1 {
  padding: 17px 108px 19px 108px;
  min-width: 505px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #060d10;
  border: 3px solid #060d10;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn1:hover {
  color: #fff;
  background: #060d10;
}

.image-wrap {
  padding: 130px 0 180px;
  margin: 0;
  flex-basis: calc(25% - 15px);
  display: flex;
  justify-content: space-between;
}

.image {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer присоединиться, иконки, +V +C*/
footer {
  padding: 35px 0;
  color: #fff;
  background: #060d10;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join {
  margin: 0 50px 0 0;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
}

.social {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  margin-right: 20px;
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  margin: 0;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}
