/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v23-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v47-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v47-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}

/* header: кнопка начать учиться, логотип, телефон */
header {
  background: #66d1ff;
}

.btn {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #fff;
}

.logo-image {}

.tele {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #060d10;
}

/* location локация и заголовок */
.location {
  text-align: center;
  color: #fff;
  background-image: url('../images/location.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.location-fade {
  padding: 240px 0 260px 0;
  background-color: rgba(6, 13, 16, .25);
}

.subject {
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: none;
}

/* product список */
.product {
  background-color: rgba(102, 209, 255, .1);
}

.promo {
  padding-top: 170px;
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  color: #060d10;
  text-transform: uppercase;
}

.product-item {
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  color: #060d10;
  text-transform: uppercase;
}

.services-description {
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: #060d10;
  opacity: 0.8;
  text-transform: none;
}

/* start кнопка начала и фото рекламы */
.start {
  background: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
}

.start-enter {
  padding-top: 170px;
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  color: #060d10;
  text-transform: uppercase;
}

.btn1 {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #060d10;
  border: 3px solid #060d10;
  padding: 20px 107px 22px 108px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 130px;
  margin-left: 466px;
}

.advertising-image1 {

}

.advertising-image2 {

}

.advertising-image3 {

}

.advertising-image4 {

}

/* footer присоединиться, иконки, +V +C*/
footer {
  background: #060d10;
  color: #fff;
}

.join {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
}

.social {

}

.copyright {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: right;
}
